.container h1{
    color: rgb(70, 211, 221);
    box-shadow: 10px 10px 10px 10px rgb(0, 174, 255);
}
.container h1:hover{
    color: rgb(11, 184, 19);
    box-shadow: 10px 10px 10px 10px rgb(11, 184, 19);
}
body {
    font-family: 'Aguafina Script';font-size: 22px;
}
